---

- name: Ensure that the repositories are update
  #apt: upgrade=dist update_cache=yes cache_valid_time=3600
  apt: update_cache=yes cache_valid_time=3600

- name: Install all the essential packages
  apt: pkg={{ item }} state=latest
  with_items: common_packages
